<nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
  <a class="navbar-brand" href="#">Training Center</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex justify-content-between">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="userService.currentUser && userService.currentUser.role != 'Admin'"  class="nav-item">
        <a class="nav-link" routerLink="/admin/home">Home</a>
      </li>
      <li *ngIf="userService.currentUser && userService.currentUser.role == 'Admin'" class="nav-item">
        <a class="nav-link" routerLink="/admin/trainings">Trainings</a>
      </li>
      <li *ngIf="userService.currentUser && userService.currentUser.role == 'Admin'" class="nav-item">
        <a class="nav-link" routerLink="/admin/users">Users</a>
      </li>
      <li *ngIf="userService.currentUser && userService.currentUser.role == 'Admin'" class="nav-item">
        <a class="nav-link" routerLink="/admin/comments">Comments</a>
      </li>
    </ul>

    <ul class="navbar-nav mb-2 mb-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img class="rounded-circle" src="assets/images/trainings/spring.png" alt="PDP">
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item dropdown-menu-lg-start" (click)="showProfile()">Profile</a></li>
          <li><a class="dropdown-item" (click)="handleLogout()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
