<div class="container mt-2">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h1 class="fs-4">List of Trainings</h1>
      <button class="btn btn-outline-info" (click)="suggestTraining()">Suggest Training</button>
    </div>
    <div *ngIf="trainings.length > 0; else notrainings" class="card-body">
      <div>
        <div class="row">
          <div *ngFor="let training of trainings" class="p-2 col-md-3 rounded-2">
            <div class="p-2 border h-100 d-flex flex-column justify-content-between rounded-2">
              <div>
                <img [src]="training.image!.url" alt="Training Image" height="213" class="card-img mb-2">
                <h1 class="h6">{{ training.name }}</h1>
              </div>
              <div>
                <div class="my-1 d-flex justify-content-between">
                  <h2 class="h5 text-success">$ {{ training.price }}</h2>
                  <button
                    class="btn text-info"
                    (click)="trainingDetails(training.trainingId)">More details...
                  </button>
                </div>
                <button
                  [disabled]="alreadyEnrolled(training)"
                  (click)="handleEnrollTraining(training)"
                  class="btn btn-danger w-100">
                  <span *ngIf="!alreadyEnrolled(training)">Enroll now</span>
                  <span *ngIf="alreadyEnrolled(training)">Already enrolled</span>
                </button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #notrainings>
  <div class="text-success text-center fs-3 my-2">
    No trainings!
  </div>
</ng-template>
